spring:
  main:
    banner-mode: "off"
vertx:
  worker-pool-size: 20
  uploads-dir: file-uploads
  init-timeout-ms: 5000
  http-server-instances: 1
http:
  port: 8080
  max-headers-size: 16384
  ssl: false
  jks-path:
  jks-password:
admin:
  port: 8060
http-client:
  max-pool-size: 4000
  connect-timeout-ms: 2500
  use-compression: false
  max-redirects: 0
  ssl: false
  jks-path:
  jks-password:
external-url: http://localhost:8000
host-id: localhost
datacenter-region: local
vendor: local
default-timeout-ms: 900
max-timeout-ms: 5000
timeout-adjustment-ms: 30
auction:
  blacklisted-accounts:
  blacklisted-apps:
  default-timeout-ms: 900
  max-timeout-ms: 5000
  timeout-adjustment-ms: 30
  stored-requests-timeout-ms: 50
  max-request-size: 262144
  cache:
    expected-request-time-ms: 10
    only-winning-bids: false
video:
  stored-requests-timeout-ms: 90
amp:
  default-timeout-ms: 900
  max-timeout-ms: 5000
  timeout-adjustment-ms: 30
setuid:
  default-timeout-ms: 2000
vtrack:
  default-timeout-ms: 2000
  allow-unkonwn-bidder: true
cookie-sync:
  coop-sync:
    default: true
  default-timeout-ms: 2000
logger-level-modifier:
  enabled: false
currency-converter:
  external-rates:
    enabled: true
    url: https://cdn.jsdelivr.net/gh/prebid/currency-file@1/latest.json
    default-timeout-ms: 4000
    refresh-period-ms: 900000
metrics:
  metricType: flushingCounter
  accounts:
    default-verbosity: none
settings:
  enforce-valid-account: false
  database:
    pool-size: 20
  in-memory-cache:
    cache-size: 10000
    ttl-seconds: 360
    notification-endpoints-enabled: false
    account-invalidation-enabled: true
recaptcha-url: https://www.google.com/recaptcha/api/siteverify
recaptcha-secret: secret_value
host-cookie:
  opt-out-url: http://prebid.org/optout
  opt-in-url: http://prebid.org/optin
  ttl-days: 90
  max-cookie-size-bytes: 0
gdpr:
  enabled: true
  default-value: 1
  eea-countries: at,bg,be,cy,cz,dk,ee,fi,fr,de,gr,hu,ie,it,lv,lt,lu,mt,nl,pl,pt,ro,sk,si,es,se,gb,is,no,li,ai,aw,pt,bm,aq,io,vg,ic,ky,fk,re,mw,gp,gf,yt,pf,tf,gl,pt,ms,an,bq,cw,sx,nc,pn,sh,pm,gs,tc,uk,wf
  vendorlist:
    http-endpoint-template: https://vendorlist.consensu.org/v-{VERSION}/vendorlist.json
    http-default-timeout-ms: 2000
    v2:
      http-endpoint-template: https://vendorlist.consensu.org/v2/archives/vendor-list-v{VERSION}.json
  purposes:
    p1:
      enforce-purpose: base
      enforce-vendors: true
    p2:
      enforce-purpose: full
      enforce-vendors: true
    p3:
      enforce-purpose: full
      enforce-vendors: true
    p4:
      enforce-purpose: full
      enforce-vendors: true
    p5:
      enforce-purpose: full
      enforce-vendors: true
    p6:
      enforce-purpose: full
      enforce-vendors: true
    p7:
      enforce-purpose: full
      enforce-vendors: true
    p8:
      enforce-purpose: full
      enforce-vendors: true
    p9:
      enforce-purpose: full
      enforce-vendors: true
    p10:
      enforce-purpose: full
      enforce-vendors: true
  special-features:
    sf1:
      enforce: true
    sf2:
      enforce: true
ccpa:
  enforce: true
geolocation:
  enabled: true
  type: maxmind
  maxmind:
    remote-file-syncer:
      download-url: https://geolite.maxmind.com/download/geoip/database/GeoLite2-City.tar.gz
      save-filepath: /var/tmp/prebid/GeoLite2-City.tar.gz
      tmp-filepath: /var/tmp/prebid/tmp/GeoLite2-City.tar.gz
      retry-count: 3
      retry-interval-ms: 3000
      timeout-ms: 300000
      update-interval-ms: 0
      http-client:
        connect-timeout-ms: 2500
        max-redirects: 3
health-check:
  database:
    enabled: false
  geolocation:
    enabled: false
