spring:
  main:
    banner-mode: "off"
vertx:
  worker-pool-size: 20
  uploads-dir: file-uploads
  init-timeout-ms: 5000
  enable-per-client-endpoint-metrics: false
server:
  max-initial-line-length: 8092
  max-headers-size: 16384
  ssl: false
  jks-path:
  jks-password:
  unix-socket:
    enabled: false
    path:
    server-instances: 1
  http:
    enabled: true
    port: 8080
    server-instances: 1
  cpu-load-monitoring:
    enabled: false
    measurement-interval-ms: 60000
  idle-timeout: 10
admin:
  port: 8060
admin-endpoints:
  version:
    enabled: false
    path: /version
    on-application-port: false
    protected: true
  currency-rates:
    enabled: false
    path: /currency/rates
    on-application-port: false
    protected: true
  storedrequest:
    enabled: false
    path: /storedrequests/openrtb2
    on-application-port: false
    protected: true
  storedrequest-amp:
    enabled: false
    path: /storedrequests/amp
    on-application-port: false
    protected: true
  cache-invalidation:
    enabled: false
    path: /cache/invalidate
    on-application-port: false
    protected: true
  logging-httpinteraction:
    enabled: false
    path: /logging/httpinteraction
    on-application-port: false
    protected: true
  logging-changelevel:
    enabled: false
    path: /logging/changelevel
    on-application-port: false
    protected: true
  tracelog:
    enabled: false
    path: /pbs-admin/tracelog
    on-application-port: false
    protected: true
  e2eadmin:
    enabled: false
    path: /pbs-admin/e2eAdmin/*
    on-application-port: false
    protected: true
  collected-metrics:
    enabled: false
    path: /collected-metrics
    on-application-port: false
    protected: true
http-client:
  max-pool-size: 4000
  idle-timeout-ms: 0
  pool-cleaner-period-ms: 1000
  connect-timeout-ms: 2500
  use-compression: true
  max-redirects: 0
  ssl: false
  jks-path:
  jks-password:
external-url: http://localhost:8080
host-id: localhost
datacenter-region: local
vendor: local
system: system
sub-system: subSystem
infra: infra
data-center: dataCenter
profile: profile
adapter-defaults:
  enabled: false
  ortb-version: "2.5"
  ortb:
    multiformat-supported: true
  pbs-enforces-ccpa: true
  modifying-vast-xml-allowed: true
  debug:
    allow: true
auction:
  ad-server-currency: USD
  blacklisted-accounts:
  blacklisted-apps:
  biddertmax:
    min: 50
    max: 5000
    percent: 100
  tmax-upstream-response-time: 30
  stored-requests-timeout-ms: 50
  timeout-notification:
    timeout-ms: 200
    log-result: false
    log-failure-only: false
    log-sampling-rate: 0.0
  max-request-size: 262144
  generate-bid-id: false
  cache:
    expected-request-time-ms: 10
    only-winning-bids: false
  validations:
    banner-creative-max-size: skip
    secure-markup: skip
  host-schain-node:
  category-mapping-enabled: false
  strict-app-site-dooh: false
video:
  stored-request-required: false
  stored-requests-timeout-ms: 90
event:
  default-timeout-ms: 1000
setuid:
  default-timeout-ms: 2000
vtrack:
  default-timeout-ms: 2000
  allow-unknown-bidder: true
  modify-vast-for-unknown-bidder: true
cookie-sync:
  default-limit: 8
  coop-sync:
    default: true
  default-timeout-ms: 2000
logging:
  sampling-rate: 0.01
  http-interaction:
    max-limit: 10000
  change-level:
    max-duration-ms: 60000
currency-converter:
  external-rates:
    enabled: true
    url: https://cdn.jsdelivr.net/gh/prebid/currency-file@1/latest.json
    default-timeout-ms: 4000
    refresh-period-ms: 900000
    stale-after-ms: 259200000
settings:
  generate-storedrequest-bidrequest-id: false
  enforce-valid-account: false
  database:
    pool-size: 20
    provider-class: c3p0
  targeting:
    truncate-attr-chars: 20
  default-account-config: >
    {
      "auction": {
        "price-floors": {
          "enabled": true,
          "fetch": {
            "enabled": false,
            "timeout-ms": 5000,
            "max-rules": 0,
            "max-file-size-kb": 200,
            "max-age-sec": 86400,
            "period-sec": 3600
          },
          "enforce-floors-rate": 100,
          "adjust-for-bid-adjustment": true,
          "enforce-deal-floors": true,
          "use-dynamic-data": true
        }
      }
    }
recaptcha-url: https://www.google.com/recaptcha/api/siteverify
recaptcha-secret: secret_value
host-cookie:
  opt-out-url: http://prebid.org/optout
  opt-in-url: http://prebid.org/optin
  ttl-days: 90
  max-cookie-size-bytes: 4096
gdpr:
  enabled: true
  eea-countries: at,bg,be,cy,cz,dk,ee,fi,fr,de,gr,hu,ie,it,lv,lt,lu,mt,nl,pl,pt,ro,sk,si,es,se,gb,is,no,li,ai,aw,pt,bm,aq,io,vg,ic,ky,fk,re,mw,gp,gf,yt,pf,tf,gl,pt,ms,an,bq,cw,sx,nc,pn,sh,pm,gs,tc,uk,wf
  vendorlist:
    default-timeout-ms: 2000
    v2:
      http-endpoint-template: https://vendor-list.consensu.org/v2/archives/vendor-list-v{VERSION}.json
      refresh-missing-list-period-ms: 3600000
      deprecated: false
      retry-policy:
        exponential-backoff:
          delay-millis: 60000
          max-delay-millis: 120000
          factor: 1.1
          jitter: 0.2
    v3:
      http-endpoint-template: https://vendor-list.consensu.org/v3/archives/vendor-list-v{VERSION}.json
      refresh-missing-list-period-ms: 3600000
      deprecated: false
      retry-policy:
        exponential-backoff:
          delay-millis: 60000
          max-delay-millis: 120000
          factor: 1.1
          jitter: 0.2
  purposes:
    p1:
      enforce-purpose: full
      enforce-vendors: true
    p2:
      enforce-purpose: full
      enforce-vendors: true
    p3:
      enforce-purpose: full
      enforce-vendors: true
    p4:
      enforce-purpose: full
      enforce-vendors: true
    p5:
      enforce-purpose: full
      enforce-vendors: true
    p6:
      enforce-purpose: full
      enforce-vendors: true
    p7:
      enforce-purpose: full
      enforce-vendors: true
    p8:
      enforce-purpose: full
      enforce-vendors: true
    p9:
      enforce-purpose: full
      enforce-vendors: true
    p10:
      enforce-purpose: full
      enforce-vendors: true
  special-features:
    sf1:
      enforce: true
    sf2:
      enforce: true
  purpose-one-treatment-interpretation: ignore
ccpa:
  enforce: true
lmt:
  enforce: true
geolocation:
  enabled: false
  type: maxmind
  maxmind:
    remote-file-syncer:
      download-url: https://geolite.maxmind.com/download/geoip/database/GeoLite2-City.tar.gz
      save-filepath: /var/tmp/prebid/GeoLite2-City.tar.gz
      tmp-filepath: /var/tmp/prebid/tmp/GeoLite2-City.tar.gz
      retry-count: 3
      retry-interval-ms: 3000
      timeout-ms: 300000
      update-interval-ms: 0
      http-client:
        connect-timeout-ms: 2500
        max-redirects: 3
health-check:
  database:
    enabled: false
  geolocation:
    enabled: false
ipv6:
  always-mask-right: 64
  anon-left-mask-bits: 56
  private-networks: ::1/128, 2001:db8::/32, fc00::/7, fe80::/10, ff00::/8
analytics:
  pubstack:
    enabled: false
    endpoint: http://localhost:8090
    scopeid: change-me
    configuration-refresh-delay-ms: 7200000
    timeout-ms: 5000
    buffers:
      size-bytes: 2097152
      count: 100
      report-ttl-ms: 900000
price-floors:
  enabled: false
