spring:
  main:
    banner-mode: "off"
vertx:
  worker-pool-size: 20
  uploads-dir: file-uploads
  init-timeout-ms: 5000
  http-server-instances: 1
http:
  port: 8080
  max-headers-size: 16384
  ssl: false
  jks-path:
  jks-password:
admin:
  port: 8060
http-client:
  max-pool-size: 4000
  connect-timeout-ms: 2500
  use-compression: false
  max-redirects: 0
external-url: http://localhost:8000
default-timeout-ms: 900
max-timeout-ms: 5000
timeout-adjustment-ms: 30
auction:
  default-timeout-ms: 900
  max-timeout-ms: 5000
  timeout-adjustment-ms: 30
  stored-requests-timeout-ms: 50
  max-request-size: 262144
  cache:
    expected-request-time-ms: 10
amp:
  default-timeout-ms: 900
  max-timeout-ms: 5000
  timeout-adjustment-ms: 30
setuid:
  default-timeout-ms: 2000
cookie-sync:
  coop-sync:
    default: true
  default-timeout-ms: 2000
currency-converter:
  enabled: true
  url: https://cdn.jsdelivr.net/gh/prebid/currency-file@1/latest.json
  default-timeout-ms: 4000
  refresh-period-ms: 900000
metrics:
  metricType: flushingCounter
  accounts:
    default-verbosity: none
settings:
  database:
    pool-size: 20
  in-memory-cache:
    cache-size: 10000
    ttl-seconds: 360
    notification-endpoints-enabled: false
recaptcha-url: https://www.google.com/recaptcha/api/siteverify
recaptcha-secret: secret_value
host-cookie:
  opt-out-url: http://prebid.org/optout
  opt-in-url: http://prebid.org/optin
  ttl-days: 90
gdpr:
  default-value: 1
  eea-countries: at,bg,be,cy,cz,dk,ee,fi,fr,de,gr,hu,ie,it,lv,lt,lu,mt,nl,pl,pt,ro,sk,si,es,se,gb,is,no,li,ai,aw,pt,bm,aq,io,vg,ic,ky,fk,re,mw,gp,gf,yt,pf,tf,gl,pt,ms,an,bq,cw,sx,nc,pn,sh,pm,gs,tc,uk,wf
  vendorlist:
    http-endpoint-template: https://vendorlist.consensu.org/v-{VERSION}/vendorlist.json
    http-default-timeout-ms: 2000
  geolocation:
    enabled: true
    maxmind:
      remote-file-syncer:
        download-url: https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz
        save-filepath: /var/tmp/prebid/GeoLite2-Country.tar.gz
        retry-count: 3
        retry-interval-ms: 3000
        timeout-ms: 300000
        http-client:
          connect-timeout-ms: 2500
          max-redirects: 3
