<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2011 by Marfeel Solutions (http://www.marfeel.com)
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Marfeel Solutions S.L and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Marfeel Solutions S.L and its
  ~ suppliers and are protected by trade secret or copyright law.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Marfeel Solutions SL.
  -->

<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.marfeel.mbid.logback.ConnectionResetByPeeFilter" />
        <encoder>
          <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_TRACER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n - [%X{errorCause} || %X{errorRootCause}] || [%X{stacktrace}]</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="io.netty" level="ERROR"/>
    <logger name="io.vertx" level="ERROR"/>
    <logger name="com.marfeel" level="WARN" />
    <logger name="com.marfeel.elastic.service" level="WARN"/>

    <logger name="trace-logger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_TRACER"/>
    </logger>


    <root level="WARN">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>
