name: Publish Docker image for new tag/release

on:
  push:
    tags:
      - '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Publish Docker image for new tag/release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 21 ]
        dockerfile-path: [ Dockerfile, Dockerfile-modules ]
        include:
          - dockerfile-path: Dockerfile
            build-cmd: mvn clean package -Dcheckstyle.skip -Dmaven.test.skip=true
            package-name: ghcr.io/${{ github.repository }}

          - dockerfile-path: Dockerfile-modules
            build-cmd: mvn clean package --file extra/pom.xml -Dcheckstyle.skip -Dmaven.test.skip=true
            package-name: ghcr.io/${{ github.repository }}-bundle
    steps:
      - name: Check out Repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          cache: 'maven'
          java-version: ${{ matrix.java }}

      - name: Build .jar via Maven
        run: ${{ matrix.build-cmd }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker Image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.package-name }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile-path }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
