name: Java CI

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '.github/**'
    branches:
      - master
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 21 ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: extra/pom.xml
          java-version: ${{ matrix.java }}

      - name: Build with Maven
        run: mvn -B package --file extra/pom.xml

      - name: Publish JUnit Report
        uses: mikepenz/action-junit-report@v5
        with:
          check_name: 'JUnit Test Report'
          report_paths: '**/target/surefire-reports/TEST-*.xml'
          fail_on_failure: true
          annotate_only: true'
          include_passed: true
