name: Publish release

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  update_release_draft:
    name: Publish release with notes
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Create and publish release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-config.yml
          publish: true
          name: 'v${{ github.ref_name }}'
          tag: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
